<html>
<header>
  <div>
<button class ="upButton">Файл</button>
  <button class ="upButton">Режим</button>
    <button class ="upButton">Настройки</button>
      <button class ="upButton">Помощь</button>
  </div>
</header>

<body>
<div class ="leftDiv">
    <button class="leftSideButtons">Оборудование</button>
    <button class="leftSideButtons">Группы</button>
    <button class="leftSideButtons">Зоны</button>
    <button class="leftSideButtons">Пользователи</button>
    <button class="leftSideButtons">Объединения</button>
    <button class="leftSideButtons">Обмен устройствами</button>
</div>
<div class ="centerDiv">
  <select class="selectOptions">
    <option>ЦП Система</option>Система
    <option>ЦП (67.0.0.0.1.0)</option>
  </select>
</div>
 <div class = "rightDiv"></div>
</body>

<hr class = "verticalLine">

<footer>
  <div class = "foterData">
 <input value = “введите текст здесь”/>
</div>
</footer>
</html>

